{% load otree staticfiles %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        Instructions - Task 8
    </h2>

    <p>
        In this task, you will be given a set of possible Token combinations for you and your Partner. You are asked to choose one combination and submit your decision.
    </p>

    <p>
        The figure below shows an example of this type of task. You will see a graph on a white background representing token allocations. In every round of this task, your tokens will be indicated on the horizontal axis and your Partner’s tokens on the vertical axis. This information is also displayed in the table on the right of the screen. Throughout this session, your tokens will be represented in blue and Partner’s tokens in orange.
    </p>

    <p>
        For example, the point (3.9, 30.8) depicted in the graph by a red square indicates that you will receive 3.9 tokens and your counterpart will receive 30.8 tokens. This is also indicated in the label “You: 3.9, Partner: 30.8” next to the red square and in the table next to the figure.
    </p>

    <p>
        At the beginning of each task, the red square will appear at a random location. To make a choice, drag the red square with the mouse to any position on the gray line. Only combinations along this line are feasible, valid choices. You can try as many combinations as you want before you make your decision. Once you have the red square at your preferred position, press the Submit Decision button and continue to the next round. Please make your decisions carefully.
    </p>

    <p>
        Please press on the Next button to proceed.
    </p>

    <!--img src="{% static "det_giv.png" %}" width="500" align="center"/-->

</div>


