{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block title %}
    Hello and Welcome
{% endblock %}

{% block content %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_InitialInstructions" id="arrive_time"/>

    <h3>General Instructions</h3>

    <p>
        Please pay careful attention to the instructions. You will be asked to make decisions in {{ Constants.number_types_of_tasks | json }}
        different tasks. Precise rules will be provided before you start each task.
    </p>
    <p>
        Your final earnings today will depend on your decisions, on the decisions
        of others, and on chance. At the end of the experiment, you will be paid in cash.
        All payments will be made in private using an envelope. You will also receive an
        additional {{ participation_fee }} as a participation fee.
    </p>
    <p>
        During the study we will use <strong>Experimental Tokens</strong> instead of dollars. At the end of the study,
        your earnings in tokens will be translated into dollars. You will receive 1 dollar for every 3 tokens you have earned in the session.
        It is important that you do not talk or in any way try to communicate with other
        people during the session. If you have a question, raise your hand and we will attend to your station to answer
        your question privately. The experiment should be finished in approximately one hour.
    </p>

    <h3>Pairs</h3>

    <p>
        At the beginning of the study, you will be randomly and anonymously matched with another participant to form a pair.
        Participants will not learn the identity of the counterpart at any moment of the session.
    </p>
    <p>
        Within each pair there will be one person with the role of <i style="color: #1b6d85">Decider</i> and another person with
        the role of <i style="color: #1b6d85">Non-decider</i>. These roles will be assigned randomly within each pair, and will
        remain for the entire session. Only choices made by the Decider will determine final earnings. Non-decider
        choices will not determine anyone’s earnings. Roles will not be disclosed until the last decision has been made.
    </p>

    <h3>Tasks, Decision Rounds, Earnings</h3>

    <p>
        This study consists of {{ Constants.number_types_of_tasks | json }} different tasks. Each task has multiple
        decisions rounds. The entire experiment has {{ Constants.num_rounds | json }} decision rounds. Before the start
        of each task you will be given instructions specific to that task.
    </p>
    <p>
        Your role (Decider or Non-Decider) will be disclosed after you and your counterpart are finished making decisions.
        Then, the computer will randomly select one decision round as the Decision-That-Counts. As all decisions are equally
        likely to be chosen and you could be the Decider, it is in your interest to treat each decision as if it is the Decision-That-Counts.
        The Decision-That-Counts made by the Decider will generate earnings for your pair (Decider and Non-Decider) based on the Decider's choice.
        Finally, earnings will be disclosed to both participants.
    </p>

    </br>

    {% next_button %}
{% endblock %}

