# oTree-may-overwrite-this-file
# IF YOU MODIFY THIS FILE, remove this comment.
# otherwise, oTree will automatically overwrite it.
asgi-redis==0.14.1
asgiref==3.2.7
autobahn==0.16.0
certifi==2019.3.9
channels==0.17.3
colorama==0.4.1
contextlib2==0.5.4
daphne==0.14.3
dj-database-url==0.5.0
Django==2.2.12
django-idmap==1.0.3
django-vanilla-views==1.0.6
h11==0.13.0
h2==4.1.0
honcho==0.7.1
hpack==4.0.0
huey==1.10.2
hyperframe==6.0.1
IPy==0.83
msgpack-python==0.4.8
numpy==1.16.3
otree==3.4.0
otree-boto2-shim==0.3.2
otree-core==0.0.0b1
otree-save-the-change==1.1.3
pandas==0.24.2
pbr==1.10.0
Pillow==9.2.0
priority==2.0.0
psycopg2==2.7.7
py==1.4.31
pytest==2.9.2
pytest-django==3.0.0
python-dateutil==2.8.0
python-redis-lock==3.3.1
pytz==2019.2
redis==2.10.5
requests==2.11.1
schema==0.6.2
sentry-sdk==0.7.9
six==1.10.0
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
Twisted==16.2.0
txaio==2.5.1
typing_extensions==4.3.0
unicodecsv==0.14.1
urllib3==1.25.3
virtualenv==16.6.0
whitenoise==4.1.3
ws4py==0.3.5
wsproto==1.2.0
XlsxWriter==0.9.3
zope.interface==4.2.0