{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<head>
<style>
h2 {
        color: #F8F4EE;
}
</style>
</head>
<body>
<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        10 tareas de transcripción
    </h3>

    <p>
        <div align="justify">

            A continuación, deberá resolver el requerimiento mínimo de 10 tareas de transcripción para la sesión de hoy
            <br><br>
            {% next_button %}
    </div>
</div>
</body>


{% endblock %}

