{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Transcripción {{ subsession.round_number }}/{{ Constants.num_rounds }}
{% endblock %}

{% block content %}
        <p> Trascribe el siguiente texto en el recuadro.</p>
        <p> Trata de ser exacto y asegúrate de poner todas las letras, símbolos y espacios correspondientes.</p>
    
    {% endif %}


    <img src="{% static image_path %}"/>
    <br><br>


    {% formfield player.transcribed_text label="" %}

    {% next_button %}

    {% if debug %}
        <div class="card border-warning">
            <div class="card-body">
            <h4>Explanation for researchers (shown in debug mode only)</h4>
            <p>
                
                by clicking <a href="#" id="prefill">this link</a>
                and clicking "next".
            </p>

            <p>
                A subject can only advance to the next screen if the
                transcription is {{ required_accuracy }}% accurate.
            </p>

            </div>
        </div>

    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var referenceText = {{ reference_text|json }};
        $('#prefill').click(function () {
            $('#id_transcribed_text').val(referenceText);
        })
    });
</script>
{% endblock %}