{% load otree staticfiles %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        Instrucciones - Tarea 8
    </h2>

    <p>
        En esta tarea, se le dará un conjunto de posibles combinaciones de fichas para usted y su compañero.
        Se le pedirá que elija una combinación y envíe su decisión.
        
    </p>

    <p>
        La siguiente figura muestra un ejemplo de este tipo de tarea. Verá un gráfico sobre un fondo de color
        blanco que representa las asignaciones de las fichas. En cada ronda de esta tarea, sus fichas se 
        indicarán en el eje horizontal y los de su compañero en el eje vertical.
        Esta información también se muestra en la tabla a la derecha de su pantalla.
        A lo largo de la sesión, sus fichas van a ser representadas en azul y el de su compañero en 
        anaranjado.
    </p>

    <p>
        Por ejemplo, el punto (3.9, 30.8) representado en el gráfico por un cuadraro rojo indica que usted
        recibiría 3.0 fichas y su contraparte 30.8 fichas. Esto también está indicado en la etiqueta: 
        "Tú: 3.9, Tu compañero: 30.8" al costado del cuadrado rojo y en la tabla al lado de la figura.
    </p>

    <p>
        Al inicio de cada tarea, el cuadrado rojo aparecerá en un lugar aleatorio.
        Para realizar una elección, arrastre el cuadrado rojo con su puntero a cualquier posición en la 
        línea gris. Solo combinaciones a lo largo de esta línea son elecciones factibles y válidas. Puede
        tratar de realizar todas las combinaciones que usted quiera antes de tomar una decisión. Una vez ya 
        tenga el cuadrado rojo en la posición de su preferencia, apriete el botón de "Enviar Decisión" y 
        continúe a la siguiente ronda. Por favor, realice sus elecciones con cuidado y atención.
        
    </p>

    <p>
        Por favor, apriete el botón "Siguiente" para proceder
    </p>

    <!--img src="{% static "det_giv.png" %}" width="500" align="center"/-->

</div>


