{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block title %}
    ¡Bienvenidos!
{% endblock %}

{% block content %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_InitialInstructions" id="arrive_time"/>

    <h3>Instrucciones Generales:</h3>

    <p>
        Por favor, préstele atención a las instrucciones. Se le pedirá que realice elecciones en 
        {{ Constants.number_types_of_tasks | json }}
        diferentes tareas. Las reglas más precisas se les proveerán antes de que empiece cada tarea.
        
    </p>
    <p>
        Su pago final hoy dependerá en parte de sus elecciones, las elecciones de otros, y del azar. 
        Al final del experimento, se le pagará por su medio de pago de preferencia.
        Todos los pagos se realizarán por medio digital. Asimismo, recibirá un pago de 
        {{ participation_fee }} soles solo por su participación. 
    </p>
    <p>
        Durante la sesión, se usarán <strong>Fichas del Experimento</strong> en vez de soles.
        Al final del estudio, su ganancia en fichas será transferido en soles. Usted recibirá 1 sol por cada
        3 fichas que tenga al final de la sesión.
        Es importante de que no se distraiga con su celular o su entorno durante la sesión. Si tiene alguna pregunta,
        escríbanos por el WhatsApp o correo del E2LabUP. El experimento debería terminar en aproximadamente una hora.
        
    </p>

    <h3>Parejas</h3>

    <p>
        Al inicio del estudio, usted será emparejado aleatoria y anónimamente con otro participante para formar
        una pareja. Los participantes no conocerán la identidad de su contraparte en ningún momento de la sesión.
    </p>
    <p>
        
        Dentro de cada pareja habrá una persona con el rol de <i style="color: #1b6d85">Decisor</i> y otra con el rol de
         <i style="color: #1b6d85">No decisor</i>. Estos roles van a ser asignados aleatoriamente entre las
         parejas y se mantendrán para toda la sesión. Solo las elecciones realizadas por el Decisor determinarán las 
         ganancias finales. Las elecciones realizadas por el No decisor no determinarán los beneficios de nadie.
         Los roles no serán revelados hasta que la última decisión se haya realizado.
         
    </p>

    <h3>Tareas, rondas de decisión, ganancias</h3>

    <p>
        El estudio consiste de {{ Constants.number_types_of_tasks | json }} tareas diferentes. Cada tarea tiene
        múltiples rondas de decisión. El experimento tiene un total de {{ Constants.num_rounds | json }} rondas de decisión.
        Antes de que cada tarea empiece, recibirá instrucciones especificas de la tarea correspondiente.

    </p>
    <p>
        Su rol (Decisor o No Decisor) se divulgará una vez que usted y su contraparte hayan terminado de tomar decisiones.
        Luego, la computadora seleccionará aleatoriamente una ronda de elección como la elección que cuenta para realizarse
        el pago final. Como todas las 
        decisiones tienen la misma probabilidad de ser elegidas y usted podría ser quien decide, le conviene tratar cada 
        decisión como si fuera la elección elegida. La elección elegida tomada por el Decisor generará ganancias para su pareja 
        (Decisor y No decisor) en función de la elección del Decisor.
        Finalmente, las ganancias serán reveladas a ambos participantes.


    </br>

    {% next_button %}
{% endblock %}

