{% extends "global/Base.html" %}
{% load staticfiles otree %}


{% block content %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    
    {% if player.round_number == 1 %}
        <p>
            A continuación, tendrá que decidir cuántas tareas usted quiere resolver hoy y cuántas 
            tareas quiere resolver en la siguiente semana.
        </p>
    {% elif player.round_number == 6 %}
        <p>
            A continuación, tendrá que decidir cuántas tareas quiere que su pareja resuelva hoy y 
            cuántas tareas quiere que resuelva en la siguiente semana.
        </p>
    {% elif player.round_number == 11 and random_number == 1 %}
        <p>
            A continuación, tendrá que decidir cuántas tareas usted quiere resolver hoy y cuántas 
            tareas quiere resolver en la siguiente semana.
        </p>
    {% elif player.round_number == 11 and random_number == 2 %}
        <p>
            A continuación, tendrá que decidir cuántas tareas quiere que su pareja resuelva hoy y 
            cuántas tareas quiere que resuelva en la siguiente semana.
        </p>
    {% elif player.round_number == 16 %}
        <p>
            A continuación, recibirá información sobre cuántas tareas se le ha asignado 
            aleatoriamente a su pareja resolver entre hoy y la siguiente semana, y luego decidirá 
            cuántas tareas usted quiere resolver hoy y cuántas tareas quiere resolver en la 
            siguiente semana.
        </p>
    {% elif player.round_number == 21 %}
        <p>
            A continuación, tendrá que decidir cuántas tareas usted quiere que su pareja resuelva hoy y cuántas tareas 
            quiere que resuelva en la siguiente semana.
        </p>
    {% elif player.round_number == 26 % }
        <p>
            A continuación, recibirá información sobre cuántas tareas se le ha asignado 
            aleatoriamente a su pareja resolver entre hoy y la siguiente semana, y luego decidirá 
            cuántas tareas usted quiere resolver hoy y cuántas tareas quiere resolver en la 
            siguiente semana.
        </p>
    {% elif player.round_number == 31 %}
        <p>
            A continuación, tendrá que decidir cuántas tareas usted quiere que su pareja resuelva hoy y cuántas tareas 
            quiere que resuelva en la siguiente semana.
        </p>
    {% elif player.round_number == 36 %}
        <p>
            A continuación, tendrá que decidir simultáneamente cuántas tareas quiere usted completar 
            hoy y en la siguiente semana, y cuántas tareas quiere que su pareja complete hoy y en la 
            siguiente semana. Recuerde que si una decisión de este bloque es escogida como “la que 
            cuenta”, tanto usted como su pareja deberán completar sus respectivas asignaciones, tal 
            como usted haya decidido.
        </p>
    {% elif player.round_number == 41 %}
        <p>
            A continuación, tendrá que asignar cuántas tareas deberá resolver usted y su pareja hoy. 
            Estas decisiones están sujetas a un mismo presupuesto de tareas para usted y su pareja; 
            es decir, asignar menos tareas para usted implica asignar más tareas a su pareja, y 
            viceversa.
        </p>
    {% endif %}


    {% next_button %}

{% endblock %}
