{% load otree staticfiles %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
<div class="instructions well well-lg">


    {% if mode == 'sec_1bl_1ch' or mode == 'sec_1bl_2ch' or mode == 'sec_2bl_1ch' or mode == 'sec_2bl_2ch' or mode == 'sec_ownrisk' or mode == 'sec_ownrisk_fixedother' or mode == 'sec_otherrisk_ownfixed' %}

        <h2 class="panel-sub-heading">
            {% if mode == 'sec_1bl_1ch'%}
                Instrucciones - Tarea 2
            {% elif mode == 'sec_1bl_2ch'%}
            Instrucciones - Tarea 4
            {% elif mode == 'sec_2bl_1ch'%}
            Instrucciones - Tarea 3
            {% elif mode == 'sec_2bl_2ch'%}
            Instrucciones - Tarea 9
            {% elif mode == 'sec_ownrisk' %}
            Instrucciones - Tarea 5
            {% elif mode == 'sec_ownrisk_fixedother' %}
            Instrucciones - Tarea 6
            {% elif mode == 'sec_otherrisk_ownfixed' %}
            Instrucciones - Tarea 7
            {% endif %}
        </h2>

        <p>
            En cada ronda de decisión, habrá dos estados probables: Estado A y Estado B. Piense en estos 
            estados como el clima: podría estar soleado o nublado. Sin embargo, cuando toma su decisión, 
            no está claro qué estado ocurrirá.
        </p>
        <p>
            Su decisión estará representada por un punto en un gráfico como el de la figura a continuación. 
            En este gráfico, el eje horizontal indica las fichas pagadas si ocurre el estado A, y el eje 
            vertical indica las fichas pagadas si ocurre el estado B. La posibilidad de que ocurra cada 
            estado se muestra entre paréntesis en la etiqueta del eje correspondiente. En la captura de 
            pantalla, por ejemplo, la probabilidad del estado A es del 50 % y la probabilidad del estado B 
            también es del 50 %. Tenga en cuenta que estas probabilidades pueden ser diferentes en diferentes 
            rondas de decisión.
        </p>
        <p>
            La posición de un punto en este gráfico representa un sorteo. Por ejemplo, el punto en la 
            ubicación (40, 20) indica que si se realiza el Estado A, el sorteo paga 40 fichas; y si se 
            realiza el Estado B, el sorteo paga 20 fichas. <i style="color: blue">Su sorteo</i> se 
            representará con un <i style="color: blue">cuadrado azul</i>, y el <i style="color: orange"> sorteo de su compañero</i> por un 
            <i style="color: orange">círculo naranja</i>.
            
        </p>

        <h4> Su Tarea: </h4>

        {% if mode == 'sec_1bl_1ch' %}

            <p>
                En cada decisión de esta tarea, tanto usted como su compañero comparten la misma fortuna. 
                Es decir, en cada estado, la cantidad de fichas que ambos reciben es la misma. Mire la 
                figura a continuación con un ejemplo. Dado que en esta tarea ambos enfrentan el mismo destino, 
                su cuadrado azul y el círculo naranja de su compañero siempre se ubican en la misma posición. 
                En el ejemplo, ambos están en el lugar (50, 16.7). Esto significa que, si ocurre el Estado A, 
                usted y su compañero obtendrán 50 fichas cada uno y, si ocurre el Estado B, cada uno obtendrá 16,7 fichas. 
                Al comienzo de cada ronda de decisión, el cuadrado y el círculo aparecerán en una posición aleatoria. 
                Para elegir, arrastre el cuadrado o el círculo a la ubicación elegida. La otra forma lo seguirá.
                </p>

        {% elif mode == 'sec_2bl_1ch' %}

            <p>
                En cada decisión de esta tarea, tanto usted como su compañero tienen fortunas opuestas. 
                Es decir, lo que obtendría en el Estado A es igual a lo que recibiría su pareja en el 
                Estado B. De manera similar, lo que obtendría en el Estado B es lo que obtendría su 
                pareja en el Estado A. Dado que usted y su pareja enfrentan destinos opuestos, su cuadrado
                azul y el círculo naranja de su compañero siempre están en posiciones especulares en el 
                gráfico. En la captura de pantalla, por ejemplo, su cuadrado está en (Estado A = 50, B = 16,7)
                 y el círculo de su compañero en (Estado A = 16,7, B = 50). Esto significa que, si ocurre el 
                 Estado A, usted recibe 50 y su compañero obtiene 16,7; y, si ocurre el Estado B, usted obtiene 
                 16,7 y su compañero obtiene 50. Al comienzo de cada ronda de decisión, el cuadrado y el círculo 
                 aparecerán en una posición aleatoria. Para elegir, arrastre el cuadrado o el círculo a las 
                 ubicaciones elegidas. La otra forma se ajustará automáticamente a la posición del espejo.
            </p>

        {% elif mode == 'sec_ownrisk' %}

            <p>
                Para esta tarea, decide sobre su propio sorteo. Consulte la figura a continuación para ver 
                un ejemplo. Aquí los estados A y B ocurren cada uno con un 50% de probabilidad. 
                Su elección está representada por un cuadrado azul. En la figura de muestra, la ubicación del 
                cuadrado es (40, 6.7). Esto significa que, si ocurre el estado A, obtendrá 40 fichas y si 
                ocurre el estado B, obtendrá 6,7 fichas. Al comienzo de cada pantalla de decisión, el 
                cuadrado aparecerá en una posición aleatoria. Para hacer una elección, arrastre el cuadrado a 
                la ubicación de su preferencia.
            </p>

        {% elif mode == 'sec_ownrisk_fixedother' %}
            <p>
                Para esta tarea, la fortuna de su pareja es fija y debe elegir su propio sorteo. Dado que 
                usted y su pareja enfrentan diferentes fortunas, su cuadrado azul y el círculo naranja de su 
                pareja estarán en diferentes posiciones. En la captura de pantalla, por ejemplo, su cuadrado 
                está en (Estado A = 35, B = 9) y el círculo de su compañero en (Estado A = 10, B = 20). 
                Esto significa que, si sucede el Estado A, usted recibe 35 y su compañero obtiene 10; y si 
                ocurre el estado B, obtienes 9 y su compañero obtiene 20. Puedes mover tu cuadrado pero no 
                puedes mover el círculo de tu compañero. Además, tenga en cuenta que las probabilidades de cada 
                estado pueden variar en diferentes rondas de decisión. Al comienzo de cada ronda de decisión, 
                el cuadrado aparecerá en una posición aleatoria. Para hacer una elección, arrastre el cuadrado a 
                su ubicación de preferencia.
            </p>
        {% elif mode == 'sec_otherrisk_ownfixed' %}

        {% endif %}

            <p>
                Solo las combinaciones en las líneas son opciones factibles. La misma información que se 
                muestra en el gráfico, se muestra en la tabla al lado. Cada fila representa un estado posible 
                y las fichas pagadas si se produce dicho estado. Puedes probar tantas combinaciones como quieras 
                antes de decidirte. Una vez que haga su elección, presione el botón Enviar Decisión y continúe con 
                la siguiente ronda.
        </p>

        <!-- Budget lines -->
         {% if sec1 == '1bl' %}
            <!--
            <p>
                1BL 1BL 1BL :::: Instructions for 1 budget line only. Will be followed by either: instructions for 1 choice, or instructions for 2 choices.
            </p>
            -->
        {% elif sec1 == '2bl' %}
            <!--
            <p>
                2BL 2BL 2BL :::: Instructions for 1 budget line only. Will be followed by either: instructions for 1 choice, or instructions for 2 choices.
            </p>
            -->
        {% endif %}

        <!-- Choices -->
        {% if sec2 == '1ch' %}
            <!--
            <p>
                1CH 1CH 1CH :::: Instructions for 1 choice only. Will follow either: instructions for 1 budget line, or instructions for 2 budget lines.
            </p>
        -->
        {% elif sec2 == '2ch' %}
        <!--
            <p>
                2CH 2CH 2CH :::: Instructions for 2 choices only. Will follow either: instructions for 1 budget line, or instructions for 2 budget lines.
            </p>
        -->
        {% endif %}
        
    {% endif %}

{% comment %}
{# IMAGES #}
            {% if mode == 'sec_1bl_1ch' %}
                <img src="{% static "sec_1bl_1ch_1.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_1bl_2ch' %}
                <img src="{% static "sec_1bl_2ch.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_2bl_1ch' %}
                <img src="{% static "sec_2bl_1ch.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_ownrisk' %}
                <img src="{% static "sec_ownrisk.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_ownrisk_fixedother' %}
                <img src="{% static "sec_ownrisk_fixedother.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_otherrisk_ownfixed' %}
                <img src="{% static "sec_otherrisk_ownfixed.png" %}" width="500" align="center"/>
            {% endif %}
{% endcomment %}

</div>
