{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}

    {% if mode == 'det_giv' %}
        <h1>Bloques 1-3</h1>
    {% elif mode == 'sec_otherrisk_ownfixed' or mode == 'sec_ownrisk_fixedother' %}
        <h1>Bloques 4-7</h1>
    {% elif mode == 'sec_new_graph' %}
        <h1>Bloque 8</h1>
    {% elif mode == 'sec_1bl_2ch' %}
        <h1>Bloque 9</h1>
    {% endif %} 

{% endblock %} 

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block content %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <div class="instructions well well-lg">
    {% if mode == 'det_giv' %}
        <p>
            A continuación, tomará decisiones de los bloques 1 al 3. Deberá decidir 
            cuántas tareas realizará usted o su pareja entre hoy y la siguiente semana. Antes de 
            realizar las decisiones que podrían determinar su asignación de tareas final, tomará una 
            decisión de práctica.
        </p>
    {% elif mode == 'sec_otherrisk_ownfixed' or mode == 'sec_ownrisk_fixedother' %}
        <p>
            A continuación, tomará decisiones de los bloques 4 al 7. Recibirá información sobre la 
            asignación aleatoria de tareas que usted o su pareja deberá realizar, y luego deberá 
            decidir cuántas tareas realizará usted o su pareja entre hoy y la siguiente semana. 
            Antes de realizar las decisiones que podrían determinar su asignación de tareas final, 
            tomará una decisión de práctica.
        </p>
    {% elif mode == 'sec_new_graph' %}
        <p>
            A continuación, tomará decisiones del bloque 8. Deberá decidir, tanto para 
            usted como para su pareja, cuántas tareas realizarán de manera independiente entre hoy 
            y la siguiente semana.
            Antes de realizar las decisiones que podrían determinar su asignación de tareas final, 
            tomará una decisión de práctica.
        </p>
    {% elif mode == 'sec_1bl_2ch' %}
        <p>
            A continuación, tomará decisiones del bloque 9. Deberá decidir cuántas tareas 
            realizará usted hoy y cuántas tareas realizará su pareja hoy.
            Antes de realizar las decisiones que podrían determinar su asignación de tareas final, 
            tomará una decisión de práctica.
        </p>
    {% endif %}
    </div>

    {% next_button %}

{% endblock %}
