{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
Decisión de práctica
{% endblock %} 

{% block scripts %}

{% endblock %}


{% block content %}
<p>Esta decisión es para que practique, <b>no</b> será tomada en cuenta para la asignación de tareas.</p>
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_TaskInstructions" id="arrive_time"/>
   
    {% include Constants.trial_period %}

    {% next_button %}

{% endblock %}
