{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
Decisiones de práctica
{% endblock %} 

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block content %}
<p>Esta decisión es para que practique, <b>no</b> será tomada en cuenta para la asignación de tareas.</p>
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_TaskInstructions" id="arrive_time"/>
   
    {% include Constants.trial_period %}

    {% next_button %}

{% endblock %}
