{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
<!--    {% if mode == 'probability' %}
        <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 1</h1>
    {% elif mode == 'sec_1bl_1ch' %}
        <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 2</h1>
    {% elif mode == 'sec_2bl_1ch' %}
        <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 3</h1>
    {% elif mode == 'sec_1bl_2ch' %}
        <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 4</h1>
    {% elif mode == 'sec_ownrisk' %}
        <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 5</h1>
    {% elif mode == 'sec_ownrisk_fixedother' %}
        <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 6</h1>
    {% elif mode == 'sec_otherrisk_ownfixed' %}
        <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 7</h1>
    {% elif mode == 'det_giv' %}
         <h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) - Tarea 8</h1>
    {% endif %}
-->
<h1 style="color:#BFBFBF">Ronda de práctica (no por dinero) </h1>
{% endblock %}


{% block styles %}
    <link href="{% static 'css/vue-range-slider.css' %}" rel="stylesheet">
    <style> /* set the CSS */
    .gray line {
        stroke: Gray;
    }
    .gray path {
        stroke: Gray;
    }
    .gray text {
        fill: Gray;
    }
    .range-slider {
        width: 290px !important;
    }
    .lightgray line {
        stroke: #f2f2f2;
    }
    .lightgray path {
        stroke: #f2f2f2;
    }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/vue-range-slider.cjs.js' %}"></script>
    <script type="text/javascript">

    /*
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Constributors:
        Rachel Chen <me@rachelchen.me>
    */

    // Keeping Graph.Js's code base unchange
    var modeMap = {
        'probability': 'probability',
        'sec_1bl_1ch': 'positive',
        'sec_2bl_1ch': 'negative',
        'sec_1bl_2ch': 'independent',
        'sec_ownrisk': 'single',
        'sec_ownrisk_fixedother': 'single_fixedcircle',
        'sec_otherrisk_ownfixed': 'single_fixedsquare',
        'det_giv': 'single_given'
    }

    // can I remove this?
    var somethingChanged = false

    var currentRound = {{ player.round_number | json }}
    var constantValues = {{ Constants.static_values | json }}
    var defaultValues  = {{ Constants.default_values | json }}

    // Notes: these can probably be offloaded to Python
    var dynamicValues  = {{ dynamic_values | json }}

    var getMode = function() {
        var roundData = dynamicValues[currentRound - 1]
        if (roundData && roundData.mode) return modeMap[roundData.mode]
        return 'negative'
    }

    var defaultValue = function(sourceObj, sourceKey, defaultObj, defaultKey) {
        return (typeof sourceObj[sourceKey] === 'undefined' ? defaultObj[defaultKey] : sourceObj[sourceKey])
    }

    var getEquation = function() {
        var roundData = dynamicValues[currentRound - 1]

        if (roundData) {
            return {
                m: defaultValue(roundData, 'm', defaultValues.equation, 'm'),
                px: defaultValue(roundData, 'p_x', defaultValues.equation, 'py'),
                py: defaultValue(roundData, 'p_y', defaultValues.equation, 'px'),
                a: {
                    x: defaultValue(roundData, 'a_x', defaultValues.equation, 'a_x'),
                    y: defaultValue(roundData, 'a_y', defaultValues.equation, 'a_y'),
                },
                b: {
                    x: defaultValue(roundData, 'b_x', defaultValues.equation, 'b_x'),
                    y: defaultValue(roundData, 'b_y', defaultValues.equation, 'b_y'),
                }
            }
        }else{
            return defaultValues.equation
        }
    }

    var getLabels = function() {
        var roundData = dynamicValues[currentRound - 1]
        if (roundData) {
            return (typeof roundData.label === 'undefined' ? defaultValues.label : {
                x: defaultValue(roundData.label, 'x', defaultValues.label, 'x'),
                y: defaultValue(roundData.label, 'y', defaultValues.label, 'y')
            })
        }else{
            return defaultValues.label
        }
    }

    var getFixed = function() {
        var roundData = dynamicValues[currentRound - 1]
        switch (getMode()) {
            case 'single_fixedcircle':
            case 'single_fixedsquare':
            return {
                m: roundData.fixed.m,
                px: roundData.fixed.p_x,
                py: roundData.fixed.p_y,
                x: roundData.fixed.a,
                y: roundData.fixed.b
            }
            break;
            default:
            return {}
            break;
        }
    }

    var getProb = function() {
        var roundData = dynamicValues[currentRound - 1]

        if (getMode() === 'probability') {
            return defaultValues.prob
        }

        var prob_a = 0
        var prob_b = 100

        if (typeof roundData.prob_b === 'undefined' && typeof roundData.prob_a !== 'undefined') {
            prob_a = roundData.prob_a
            prob_b = 100 - prob_a
        }else if (typeof roundData.prob_b !== 'undefined' && typeof roundData.prob_a === 'undefined') {
            prob_b = roundData.prob_b
            prob_a = 100 - prob_b
        }

        return {
            a: prob_a,
            b: prob_b
        }
    }

    var getGraphData = function() {
        var graphData = {}

        graphData = Object.assign({}, constantValues)

        Object.assign(graphData, {
            fixed: getFixed(),
            mode: getMode(),
            label: getLabels(),
            equation: getEquation(),
            prob: getProb(),
            onChangeCallback: function() {
                somethingChanged = true
                console.log('changed cb')
            }
        })

        return graphData
    }

    var appSpecific = getGraphData()

    window.onload = function ()
      {
        var roundData = dynamicValues[currentRound - 1]
        var mode = {{ mode | json}}
        document.getElementById("arrive_time").value = (new Date()).toISOString();
        if (mode === 'probability')
        {
            document.getElementById("ax").value = roundData.a_x
            document.getElementById("ay").value = roundData.a_y
            document.getElementById("bx").value = roundData.b_x
            document.getElementById("by").value = roundData.b_y
        }
        else
        { 
            if (mode === 'sec_ownrisk_fixedother' || mode === 'sec_otherrisk_ownfixed')
            {
                document.getElementById("a").value = roundData.a
                document.getElementById("b").value = roundData.b
            }
            document.getElementById("m").value = roundData.m
            document.getElementById("px").value = roundData.p_x
            document.getElementById("py").value = roundData.p_y
        }
      }

    function test_outcome()
    {
        //make it pick a random value, assign payoffs, then set the inner html of 
        // outcome, you_payoff, partner_payoff

        var roundData = dynamicValues[currentRound - 1]
        var mode = getMode()
        var rand = Math.random()

        if (mode === 'probability')
        {
            if (rand * 100 < vm.prob.a)
            {
                document.getElementById('outcome').innerHTML='A'
                document.getElementById('you_payoff').innerHTML=roundData['a_x']
                document.getElementById('partner_payoff').innerHTML=roundData['a_y']
            }
            else
            {
                document.getElementById('outcome').innerHTML='B'
                document.getElementById('you_payoff').innerHTML=roundData['b_x']
                document.getElementById('partner_payoff').innerHTML=roundData['b_y']
            }
        }
        else if (mode === 'single_given')
        {
            document.getElementById('you_payoff').innerHTML=vm.selected[0].x
            document.getElementById('partner_payoff').innerHTML=vm.selected[0].y
        }
        else
        {
            if (rand * 100 < roundData['prob_a'])
            {
                document.getElementById('outcome').innerHTML='A'
                document.getElementById('you_payoff').innerHTML=vm.selected[0].x
                if (mode !== 'single')
                    document.getElementById('partner_payoff').innerHTML=vm.selected[1].x
            }
            else
            {
                document.getElementById('outcome').innerHTML='B'
                document.getElementById('you_payoff').innerHTML=vm.selected[0].y
                if (mode !== 'single')
                    document.getElementById('partner_payoff').innerHTML=vm.selected[1].y
            }
        }
        document.getElementById('results').style.display='block'
        return false
    }

    </script>

    <script src="{% static 'js/graph_es.js' %}"></script>

{% endblock %}



{% block content %}

    {% comment %}

    {% formfield player.time_TaskInstructions label=None %}

    {% if mode == 'probability' %}
        {% include Constants.instructions_probability %}
    {% elif sec0 == 'sec' %}
        {% include Constants.instructions_sec %}
    {% elif mode == 'det_giv' %}
        {% include Constants.instructions_det_giv %}
    {% endif %}

   
    {% if mode == 'probability' %}
        {% formfield player.ax label=None %}
        {% formfield player.ay label=None %}
        {% formfield player.bx label=None %}
        {% formfield player.by label=None %}
    {% else %}
        {% formfield player.m label=None %}
        {% formfield player.px label=None %}
        {% formfield player.py label=None %}

        {% if mode == 'sec_ownrisk_fixedother' or mode == 'sec_otherrisk_ownfixed' %}
            {% formfield player.a label=None %}
            {% formfield player.b label=None %}
        {% endif %}
    {% endif %}
    {% endcomment %}

    <div id="app">
        <div class="container-fluid" style="width: window.width - window.margin.left">
            <div class="row">
                <div class="graph col-9"></div>
                <div class="col-3" v-if="mode === 'probability'">
                    <h5>Elige con el deslizador:</h5>
                    <div class="row" style="margin-top: 30px">
                        <range-slider
                        class="slider"
                        min="0"
                        max="100"
                        step="1"
                        v-model="prob.a">
                        </range-slider>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            Probabilidad de A:
                        </div>
                        <div class="col-6" style="text-align: right;">
                            Probabilidad de B:
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6" v-html="prob.a.toFixed(0) + '%'">
                        </div>
                        <div class="col-6" v-html="prob.b.toFixed(0) + '%'" style="text-align: right;">
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top: 50px">
                        <table class="table table-bordered table-sm small">
                            <thead>
                                <tr>
                                    <td width="34%" style = "text-align: center;">Probabilidad del resultado</td>
                                    <td width="33%" style = "text-align: center; color: blue"><b>Sus fichas</b></td>
                                    <td width="33%" style = "text-align: center; color: orange"><b>Fichas de su compañero</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style = "text-align: center;" v-html="'A: ' + prob.a.toFixed(0) + '%'"></td>
                                    <td style = "text-align: center; color: blue" v-html="equation.a.x"></td>
                                    <td style = "text-align: center; color: orange" v-html="equation.a.y"></td>
                                </tr>
                                <tr>
                                    <td style = "text-align: center;" v-html="'B: ' + prob.b.toFixed(0) + '%'"></td>
                                    <td style = "text-align: center; color: blue" v-html="equation.b.x"></td>
                                    <td style = "text-align: center; color: orange" v-html="equation.b.y"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" id="results" style="display: none; margin-top: 40px;">
                        <h5>Resultados de la prueba</h5>
                        <table class="table table-bordered table-sm small">
                            <thead>
                                <tr>
                                    <td width="34%" style = "text-align: center;">Resultados</td>
                                    <td width="33%" style = "text-align: center; color: blue"><b>Su pago</b></td>
                                    <td width="33%" style = "text-align: center; color: orange" v-if="mode !== 'single'"><b>El pago de su compañero</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="outcome" style = "text-align: center;">N/A</td>
                                    <td id="you_payoff" style = "text-align: center; color: blue">N/A</td>
                                    <td id="partner_payoff" style = "text-align: center; color: orange" v-if="mode !== 'single'">N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-3" v-if="mode === 'single_given'">
                    <h5>Esta es su decisión:</h5>
                    <div class="row" style="margin-top: 50px">
                        <table class="table table-bordered table-sm small">
                            <thead>
                                <tr>
                                    <td width="50%" style="color: blue; text-align: center;"><b>Sus fichas</b></td>
                                    <td width="50%" v-if="mode !== 'single'" style="color: orange; text-align: center;"><b>Fichas de su compañero</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="50%" v-html="selected[0].x"></td>
                                    <td width="50%" v-html="selected[0].y"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" id="results" style="display: none; margin-top: 40px;">
                        <h5>Resultados de la prueba: </h5>
                        <table class="table table-bordered table-sm small">
                            <thead>
                                <tr>
                                    <td width="50%" style="text-align: center; color: blue"><b>Su pago</b></td>
                                    <td width="50%" style="text-align: center; color: orange" v-if="mode !== 'single'"><b>El pago de su compañero</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="you_payoff" style="text-align: center; color: blue">N/A</td>
                                    <td id="partner_payoff" style="text-align: center; color: orange" v-if="mode !== 'single'">N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-3" v-if="mode !== 'probability' && mode !== 'single_given'">
                    {% if player.round_number == 1 or player.round_number == 3 or player.round_number == 5%}
                        <h5>Elija la cantidad de tareas que se asignaría para usted mismo entre hoy y mañana</h5>
                    {% else %}
                        <h5>Elija la cantidad de tareas que le asignaría a su compañero entre hoy y mañana</h5>
                    {% endif %}
                    
                    {% if mode == 'sec_ownrisk_fixedother' or mode == 'sec_otherrisk_ownfixed' %}
                        <div class="row" style="margin-top: 50px">
                        <table class="table table-bordered table-sm mdall">
                            <thead>
                                <tr>
                                    <td width="34%" style = "text-align: center;">Tiempo</td>
                                    <td width="33%" style = "text-align: center; color: blue"><b>Tareas</b></td>
                                    <td width="33%" style = "text-align: center; color: orange" v-if="mode !== 'single'"><b>Tareas de su compañero</b></td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style = "text-align: center;">Hoy</td>
                                    <td style = "text-align: center; color: blue" v-html="parseInt(selected[0].x)"></td>
                                    <td style = "text-align: center; color: orange" v-html="selected[1].x" v-if="mode !== 'single'"></td>
                                </tr>
                                <tr>
                                    <td style = "text-align: center;">Mañana</td>
                                    <td style = "text-align: center; color: blue" v-html="parseInt(selected[0].y)"></td>
                                    <td style = "text-align: center; color: orange" v-html="parseInt(selected[1].y)" v-if="mode !== 'single'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="row" style="margin-top: 50px">
                        <table class="table table-bordered table-sm mdall">
                            <thead>
                                <tr>
                                    <td width="34%" style = "text-align: center;">Tiempo</td>
                                    <td width="33%" style = "text-align: center; color: blue"><b>Tareas</b></td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style = "text-align: center;">Hoy</td>
                                    <td style = "text-align: center; color: blue" v-html="parseInt(selected[0].x)"></td>
                                   
                                </tr>
                                <tr>
                                    <td style = "text-align: center;">Mañana</td>
                                    <td style = "text-align: center; color: blue" v-html="parseInt(selected[0].y)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <div class="row" id="results" style="display: none; margin-top: 40px;">
                        <h5>Resultados de la prueba:</h5>
                        <table class="table table-bordered table-sm small">
                            <thead>
                                <tr>
                                    <td width="34%" style = "text-align: center;">Resultados</td>
                                    <td width="33%" style = "text-align: center; color: blue"><b>Su pago</b></td>
                                    <td width="33%" style = "text-align: center; color: orange" v-if="mode !== 'single'"><b>El pago de su compañero</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="outcome" style = "text-align: center;">N/A</td>
                                    <td id="you_payoff" style = "text-align: center; color: blue">N/A</td>
                                    <td id="partner_payoff" style = "text-align: center; color: orange" v-if="mode !== 'single'">N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
    <div>
        <button id="go" type="button" class="btn-large" onclick="test_outcome()">Resultado de la prueba:</button>
    </div>
-->

    {% comment %}
    {% next_button %}
    {% endcomment %}

{% endblock %}

{#cd RiskAndFairness_espanol/ && git add templates/RiskAndFairness_espanol/Graph.html && git commit -m "___________" && git pus#}