{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block title %}
    Instrucciones del experimento
{% endblock %}

{% block content %}
    <style type="text/css">
        .shades {
            color:#EE4B2B
        }
        .under {
            text-decoration: underline;
        }
    </style>
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_InitialInstructions_1" id="arrive_time"/>
    <br>
    <h4>¡Bienvenido al experimento!</h4>
    <br>
    <h3>Requisitos para participar</h3>
    <p>
        Para participar en nuestro estudio, debes comprometerte a asistir a dos sesiones experimentales en dos semanas consecutivas. 
        Estas sesiones siempre ocurrirán el mismo día de la semana y a la misma hora del día. <b>La duración promedio de cada sesión es 
        de aproximadamente una hora, pero puede variar entre 15 y 90 minutos</b>. También deberás estar dispuesto a recibir el pago total 
        por participar en este experimento como un pago único al final de la segunda sesión. Si no cumples con alguno de los requisitos, 
        por favor <span class="shades">comunícaselo</span> al experimentador. En dicho caso, desafortunadamente no podrás participar en nuestro estudio.
    </p>
    <h3>Anonimato</h3>
    <p>
        Tu anonimato en este estudio está garantizado; es decir, ningún participante sabrá que fuiste tú el que tomó cierta decisión <span class="shades"> ni 
        sabrán que participaste en este experimento</span>. Además, los experimentadores jamás vincularán tu nombre a tus decisiones.
    </p>
    <h3>Reglas de comportamiento</h3>
    <p>
        Los resultados de este experimento serán usados para un proyecto de investigación. Por lo tanto, es importante que todos los 
        participantes sigan ciertas reglas de conducta. <span class="shades"> Durante el experimento, no está permitido que te comuniques con otros 
        participantes del experimento ni otras personas a tu alrededor. Los dispositivos móviles deberán estar apagados. Es importante 
        recalcar también que solo tú deberás tomar todas las decisiones en ambas sesiones y que debes evitar cualquier fuente de 
        distracción a tu alrededor. En caso de que tengas preguntas sobre las instrucciones o sobre el estudio, por favor comunícaselo 
        al experimentador—responderemos tus preguntas de manera individual</span>. No seguir estas reglas llevarán a que seas excluido del 
        experimento y de todos los pagos.

    </p>
    <h3>Pago</h3>
    <p>
        Si te presentas y respondes a todas las preguntas de ambas sesiones experimentales, recibirás un pago por completarlas de S/30. 
        Los pagos se realizarán por transferencia bancaria al final de la segunda sesión (para lo cual te pediremos tu número de cuenta 
        antes de empezar la primera sesión). <span class="shades"> Si abandonas o no te presentas a alguna de las sesiones, recibirás un pago de compensación 
        de S/5. En tal caso, se te realizará este pago al final de la segunda sesión</span>.

    </p>
    

    {% next_button %}
{% endblock %}

