{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block title %}
    Instrucciones del experimento
{% endblock %}

{% block content %}
    <style type="text/css">
        .shades {
            color:#EE4B2B
        }
        .under {
            text-decoration: underline;
        }
        .italic {
            font-style: italic;
        }
    </style>
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_InitialInstructions_3" id="arrive_time"/>
    <br>
    <h4>¡Bienvenido al experimento!</h4>
    <br>
    <h3>Lo que tienes que hacer en las dos sesiones</h3>
    <p>
        Después de familiarizarte con la tarea de transcripción, a continuación te explicaremos los detalles del estudio.
    </p>
    <p>
        <span class="italic"> Importante: Al inicio de cada sesión experimental, cada participante tendrá que resolver correctamente un número 
        mínimo de 10 tareas de transcripción.</span>
    </p>
    <h3>Semana 1 (hoy)</h3>
    <p>
        Después de que todos los participantes hayan resuelto correctamente el requerimiento mínimo de tareas de transcripción, lo 
        siguiente que corresponde a la sesión de hoy es tomar una serie de decisiones bajo distintos escenarios. En cada decisión, 
        tendrás que decidir cómo asignar un cierto número de tareas de transcripción entre la sesión de hoy y la de la siguiente semana. 
        Los escenarios se diferencian en términos de quién es afectado por la asignación de las tareas (puedes ser tú u otro participante) 
        y de la información que está disponible para ti antes de elegir.
    </p>
    <p>
        Cuando acabes de tomar estas decisiones, una de tus elecciones podrá ser elegida de manera aleatoria (más abajo hay más información sobre esto). 
        Esta elección determinaría cuántas tareas tú y la otra persona tendrán que resolver hoy y en la siguiente semana. Solo una decisión será escogida, 
        aunque lo que te conviene es escoger en cada decisión como si cada una fuese “la que cuenta”. Las decisiones están divididas en cuatro grupos. 
        Se te proveerá una descripción más detallada de lo que tendrás que hacer antes de cada grupo de decisiones.
    </p>
    <h3>Decisiones dentro de cada bloque</h3>
    <p>
        Para cada decisión, se mostrará un slider en la pantalla, el cual podrás usar para asignar las tareas. Por ejemplo, la pantalla podría verse de la siguiente manera:
    </p>
      <!-- FALTA IMAGEN CON ULTIMA VERSION-->
    <p>
        Podrás mover el slider a lo largo de la línea azul hacia la izquierda o la derecha, moviendo el marcador encima de la recta (azul 
        en la imagen anterior) tras hacer clic sobre este. En este ejemplo, los números que se muestran en el recuadro de la derecha (y 
        también arriba del marcador) indican cuántas tareas quieres resolver en la sesión de hoy y en la de la próxima semana. Además, 
        también se indica la asignación fija de tareas que otro participante tendría que realizar en este escenario (se explicará más sobre más adelante). 
        Por favor, ten en cuenta que estos números no incluyen las diez tareas que todo participante necesita completar al inicio de cada sesión experimental.
    </p>
    <p>
        En algunos escenarios, tendrás que decidir cómo distribuir tareas entre la sesión de hoy y la sesión de la próxima semana. En otros escenarios, tendrás 
        que decidir cómo distribuir tareas entre tú y otro participante que, al igual que tú, esté realizando este experimento. Asimismo, los escenarios en los 
        que tomarás las decisiones también variarán en términos de cuántas tareas se deben distribuir y el valor de la tasa de cambio entre tareas. En los escenarios 
        en los que se elige cuántas tareas resolver entre hoy y la siguiente semana, la cantidad de tareas a distribuir equivale al número máximo de tareas que se podrían 
        asignar a la sesión de hoy y la tasa de cambio determina cuántas tareas se deben dejar de completar en la sesión de hoy a cambio de completar una tarea en la sesión 
        de la próxima semana. En los escenarios en los que se elige cuántas tareas distribuir entre tú y otro participante para resolver en la sesión de hoy, la cantidad 
        de tareas a distribuir equivale al número máximo de tareas que se podrían asignar tí y la tasa de cambio determina cuántas tareas debes dejar de completar tú a cambio de 
        que tu pareja complete una tarea.
    </p>
    <p>
        La cantidad de tareas a distribuir puede tomar los siguientes valores: 40, 45, 50, 55 y 60. Además, hay un total de cinco tasas de cambio, que se repetirán a lo largo del experimento. 
        Estas son 1:0.6, 1:0.8, 1:1, 1:1.2 y 1:1.4. En las decisiones en las que elegirás cuántas tareas distribuir entre la sesión de hoy y la de la próxima semana, la tasa se define por cuánto 
        se reduce la cantidad de tareas que necesitas resolver hoy cuando mueves el slider hacia la izquierda:
    </p>
    <p>
        <ul>
            <li>Una tasa de 1:1 significa que cada tarea que resuelvas en la siguiente semana reduce el número de tareas que necesitas resolver hoy en 1.</li>
            <li>Una tasa de 1:1.4 significa que cada tarea que resuelvas en la siguiente semana reduce el número de tareas que necesitas resolver hoy en 1.4.</li>
        </ul>
    </p>
    <p>
        En las decisiones en las que deberás decidir cuántas tareas deberás resolver hoy y cuántas tareas deberá resolver hoy también tu pareja, la tasa se define por cuánto 
        se reduce la cantidad de tareas que necesitas resolver hoy cuando mueves el slider hacia la izquierda:
    </p>
    <p>
        <ul>
            <li>Una tasa de 1:1 significa que cada tarea que la otra persona necesita realizar en la sesión de hoy reduce el número de tareas que tú necesitas resolver hoy en 1.</li>
            <li>Una tasa de 1:0.6 significa que cada tarea que la otra persona necesita realizar en la sesión de hoy reduce el número de tareas que tú necesitas resolver hoy en 0.6.</li>
        </ul>
    </p>
    <p>
        La misma lógica aplica para las otras tasas de cambio. Tendrás la oportunidad de familiarizarte con el slider y algunas de las 
        distintas tasas al inicio del experimento. Además, te haremos algunas preguntas de control para asegurarnos que el procedimiento 
        es claro para todos. Después de eso, deberás tomar tus decisiones. Las decisiones se te mostrarán en un orden aleatorio y, antes 
        de cada grupo de decisiones, se te proveerán instrucciones personalizadas. Después de que todos los participantes hayan tomado sus decisiones, 
        tendrás que responder un breve cuestionario. Luego, la sesión experimental de hoy habrá acabado.
    </p>
    <h3>Semana 2 (siguiente semana)</h3>
    <p>
        La segunda (y última) sesión experimental será exactamente en la siguiente semana en el mismo día de la semana y a la misma hora 
        del día. <span class="shades">Les enviaremos un recordatorio por email el día anterior y una hora antes de la siguiente sesión.</span> El procedimiento 
        de la semana 2 es el siguiente:
    </p>
    <p>
        <ul>
            <li>Al principio de la segunda sesión, tendrás que resolver el requerimiento mínimo de 10 tareas de transcripción.</li>
            <li>Luego, tendrás que resolver correctamente el número de tareas que fuiste asignado sobre la base de “la decisión que cuenta”.</li>
            <li>Una vez que hayas completado todas las tareas correctamente, <span class="shades">te haremos la transferencia bancaria</span> con el pago por completar 
                el experimento, igual a S/30. Luego, podrás abandonar la sesión virtual. No tienes que esperar a que todos los participantes 
                hayan terminado de resolver tus tareas asignadas. Si abandonas la sesión antes de completar todas las tareas, eso contará 
                como abandonar el estudio y no recibirás un pago.</li>
        </ul>
    </p>

    {% next_button %}
{% endblock %}

