{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block title %}
    Instrucciones del experimento
{% endblock %}

{% block content %}
    <style type="text/css">
        .shades {
            color:#EE4B2B
        }
        .under {
            text-decoration: underline;
        }
        .italic {
            font-style: italic;
        }
    </style>
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_InitialInstructions_3" id="arrive_time"/>
    <br>
    <h4>¡Bienvenido al experimento!</h4>
    <br>
    <h3>Lo que tienes que hacer en las dos sesiones</h3>
    <p>
        Después de familiarizarte con la tarea de transcripción, a continuación te explicaremos los detalles del estudio.
    </p>
    <p>
        <span class="italic"> Importante: Al inicio de cada sesión experimental, cada participante tendrá que resolver correctamente un número 
        mínimo de 10 tareas de transcripción.</span>
    </p>
    <h3>Semana 1 (hoy)</h3>
    <p>
        Después de que todos los participantes hayan resuelto correctamente el requerimiento mínimo de tareas de transcripción, lo 
        siguiente que corresponde a la sesión de hoy es tomar una serie de decisiones bajo distintos escenarios. En cada decisión, 
        tendrás que decidir cómo asignar un cierto número de tareas de transcripción entre la sesión de hoy y la de la siguiente semana. 
        Hay nueve situaciones diferentes en total. Estas situaciones se diferencian en términos de quién es afectado por la asignación 
        de las tareas y de la información que está disponible para ti antes de elegir. Algunas decisiones solo te afectarán a ti, otras 
        decisiones afectarán sólo a otra persona, y otras podrán afectar a ambos.
    </p>
    <p>
        Cuando acabes de tomar estas decisiones, una de tus elecciones se elegirá de manera aleatoria (más abajo hay más información 
        sobre esto). Esta elección determinará cuántas tareas tú y la otra persona tendrán que resolver hoy y en la siguiente semana. 
        Solo una decisión será escogida, aunque lo que te conviene es escoger en cada decisión como si cada una fuese “la que cuenta”. 
        Estas situaciones diferentes se clasifican en x bloques.  Se te proveerá una descripción más detallada de lo que tendrás que hacer antes de cada bloque.
    </p>
    <h3>Decisiones dentro de cada bloque</h3>
    <p>
        Para cada decisión, se mostrará un slider en la pantalla, el cual podrás usar para asignar las tareas. Por ejemplo, en el bloque 1, la 
        pantalla se ve de la siguiente manera:
    </p>
      <!-- FALTA IMAGEN CON ULTIMA VERSION-->
    <p>
        Podrás mover el slider a lo largo de la línea azul hacia la izquierda o la derecha, moviendo el marcador encima de la recta (azul 
        en la imagen anterior) tras hacer clic sobre este. En este ejemplo, los números que se muestran en el recuadro de la derecha (y 
        también arriba del marcador) indican cuántas tareas quieres resolver en la sesión de hoy y en la de la próxima semana. Por favor, 
        ten en cuenta que estos números no incluyen las diez tareas que todo participante necesita completar al inicio de cada sesión 
        experimental.
    </p>
    <p>
        En cada bloque, deberás tomar un total de cinco decisiones. Las decisiones varían en términos de la tasa por la cual puedes 
        asignar tareas entre la sesión de hoy y la de la siguiente semana, o entre tú y tu pareja. Hay un total de cinco tasas por bloque, 
        aunque estas cinco pueden ser distintas a las cinco de otro bloque.
    </p>
    <p>
        Para ilustrar qué implican estas tasas, volvamos al ejemplo del bloque 1. En el bloque 1, las tasas son 1:0.5, 1:0.75, 1:1, 1:1.25 
        y 1:1.5. Como se mostró en la imagen de arriba, puedes mover el slider a la derecha para completar más tareas en la sesión de hoy, 
        o hacia la izquierda para completar más tareas en la sesión de la siguiente semana. La tasa se define por cuánto se reduce la 
        cantidad de tareas que necesitas resolver hoy cuando mueves el slider hacia la izquierda:
    </p>
    <p>
        <ul>
            <li>Una tasa de 1:1 significa que cada tarea que resuelvas en la siguiente semana reduce el número de tareas que necesitas resolver hoy en 1.</li>
            <li>Una tasa de 1:1.5 significa que cada tarea que resuelvas en la siguiente semana reduce el número de tareas que necesitas resolver hoy en 1.5.</li>
        </ul>
    </p>
    <p>
        Ahora usando como ejemplo el bloque 9, en el que deberás decidir cuántas tareas deberás resolver hoy y cuántas tareas deberá resolver hoy también tu pareja. 
        En este caso, la tasa se define por cuánto se reduce la cantidad de tareas que necesitas resolver hoy cuando mueves el slider hacia la izquierda:
    </p>
    <p>
        <ul>
            <li>Una tasa de 1:1 significa que cada tarea que la otra persona necesita realizar en la sesión de hoy reduce el número de tareas que tú necesitas resolver hoy en 1.</li>
            <li>Una tasa de 1:0.5 significa que cada tarea que la otra persona necesita realizar en la sesión de hoy reduce el número de tareas que tú necesitas resolver hoy en 0.5.</li>
        </ul>
    </p>
    <p>
        La misma lógica aplica para los otros bloques y tasas. Tendrás la oportunidad de familiarizarte con el slider y algunas de las 
        distintas tasas al inicio del experimento. Además, te haremos algunas preguntas de control para asegurarnos que el procedimiento 
        es claro para todos. Después de eso, deberás tomar tus decisiones. Los x bloques se te mostrarán en un orden aleatorio. 
        Después de que todos los participantes hayan tomado sus decisiones, tendrás que responder un breve cuestionario. Luego, la sesión 
        experimental de hoy habrá acabado.
    </p>
    <h3>Semana 2 (siguiente semana)</h3>
    <p>
        La segunda (y última) sesión experimental será exactamente en la siguiente semana en el mismo día de la semana y a la misma hora 
        del día.<span class="shades"> Les enviaremos un recordatorio por email el día anterior y una hora antes de la siguiente sesión</span>. El procedimiento de 
        la semana 2 es el siguiente:
    </p>
    <p>
        <ul>
            <li>Al principio de la segunda sesión, tendrás que resolver el requerimiento mínimo de 10 tareas de transcripción.</li>
            <li>Luego, tendrás que resolver correctamente el número de tareas que fuiste asignado sobre la base de “la decisión que cuenta”.</li>
            <li>Una vez que hayas completado todas las tareas correctamente, <span class="shades">te haremos la transferencia bancaria</span> con el pago por completar 
                el experimento, igual a S/30. Luego, podrás abandonar la sesión virtual. No tienes que esperar a que todos los participantes 
                hayan terminado de resolver tus tareas asignadas. Si abandonas la sesión antes de completar todas las tareas, eso contará 
                como abandonar el estudio y solo recibirás una compensación de S/5.</li>
        </ul>
    </p>

    {% next_button %}
{% endblock %}

